@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    font-family: var(--font-family);
    color: var(--primary-color);
    background-color: var(--light-background-color);
}

